In [1]:
year = 2013
fea="_pm25"
sql = f'''
select '{year}01' as month, u{fea} u, v{fea} v from corrcoef{year}01
'''

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine('oracle+cx_oracle://colin:colin@localhost:1521/?service_name=airvispdb.mshome.net', echo=False)

In [4]:
df = pd.read_sql_query(sql, engine)
df.head()

    month         u         v
0  201301 -0.095141 -0.319643
1  201301  0.019814 -0.305733
2  201301  0.039013 -0.402008
3  201301 -0.037390 -0.362894
4  201301  0.094353 -0.346315

In [9]:
temp = None
for row in df.iterrows():
    print(type(row))
    temp = row
    break

<class 'tuple'>

In [10]:
temp

(0,
 month      201301
 u       -0.095141
 v       -0.319643
 Name: 0, dtype: object)

In [26]:
type(df.index>0)

numpy.ndarray

In [32]:
df = df[df.index%10==0]

In [33]:
df

        month         u         v
0      201301 -0.095141 -0.319643
10     201301  0.052234 -0.458199
20     201301 -0.162840 -0.504655
30     201301  0.158518 -0.511242
40     201301  0.392715 -0.500761
...       ...       ...       ...
42200  201301 -0.833459  0.411920
42210  201301 -0.779990  0.003691
42220  201301 -0.710185  0.296239
42230  201301 -0.797055  0.086789
42240  201301 -0.796125  0.486140

[4225 rows x 3 columns]

In [40]:
import math

In [39]:
u = 1
v = 1

In [103]:
def transform(v,u):
    x = None
    y = None
    if u==0:
        y=0
        x=v
    elif v==0:
        x=0
        y=u
    else:
        quadrant = 0
        originalLength = math.sqrt(u**2+v**2)
        if u>0:
            if v>0:
                quadrant = 1
            else:
                quadrant = 4
        else:
            if v>0:
                quadrant = 2
            else:
                quadrant = 3
        tempx = abs(v)
        tempy = abs(u)
        theta = math.atan(tempy/tempx)
        maxLength = None;
        if tempx>=tempy:
            maxLength = 1/math.cos(theta)
        else:
            maxLength = 1/math.sin(theta)
        scaledLength = originalLength/maxLength
        x = math.cos(theta)*scaledLength
        y = math.sin(theta)*scaledLength
        if quadrant == 1:
            pass
        elif quadrant == 2:
            y = -y
        elif quadrant == 3:
            x = -x
            y = -y
        elif quadrant == 4:
            x = -x 
    return x,y

In [105]:
transform(1,1)

(0.7071067811865477, 0.7071067811865477)

In [95]:
df.head()

     month         u         v
0   201301 -0.095141 -0.319643
10  201301  0.052234 -0.458199
20  201301 -0.162840 -0.504655
30  201301  0.158518 -0.511242
40  201301  0.392715 -0.500761

In [100]:
df.loc[0,'u'] = -0.09514087069424333

c:\users\colin\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [98]:
for i in df.index:
    print(i)
    break

0

In [106]:
for i in df.index:
    u = df.loc[i, 'u']
    v = df.loc[i, 'v']
    x,y = transform(v,u)
    df.loc[i, 'u'] = y
    df.loc[i, 'v'] = x

c:\users\colin\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [104]:
df

        month         u         v
0      201301 -0.091187 -0.306360
10     201301  0.051898 -0.455251
20     201301 -0.154972 -0.480271
30     201301  0.151407 -0.488308
40     201301  0.309021 -0.394040
...       ...       ...       ...
42200  201301 -0.747186  0.369281
42210  201301 -0.779981  0.003691
42220  201301 -0.655447  0.273407
42230  201301 -0.792372  0.086279
42240  201301 -0.679464  0.414903

[4225 rows x 3 columns]